{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Word2Domain{% endblock %}

{% block content %}
<h1>Word2Domain</h1>

<p>Generate domains using the given word list and domain extension.</p>

<p>
    Example:</br>
    - collection: English dictionary</br>
    - domain extension: io</br>
    API:</br>
    <a href="../words/domains/?c=en&ext=io">[domain]/words/domains/?c=en&ext=io</a></br></br>
    e.g. output:</br>
    ...</br>
    scenar.io</br>
    scorp.io</br>
    ...</br></br>
    Data:</br>
    - English dictionary</br>
    - Finnish dictionary</br>
</p>

{% endblock content %}